<!DOCTYPE html>
<html>
  <head>
    <title>login</title>

  </head>
  <body>
    <% if (msg){%>
      <h1><%= msg  %></h1>
      <% } %>
    <form action="/auth/login" method="post">
        <input type="text" name="username" value="">
        <input type="password" name="password" value="">
        <input type="submit" value="login">



    </form>
  </body>
</html>
